In [ ]:
import os
import platform
# Operating System
OS = platform.system()                                                             # returns 'Windows', 'Linux', etc

# Libraries Installation Section

Installation of all required libraries: SDGym

In [ ]:
os.system('pip install gdown')
os.system('pip install sdgym')
os.system('pip install pandas')

0

# All Imports

In [ ]:
import timeit
import numpy as np
import pandas as pd
from sdv.demo import load_tabular_demo
from sdv.tabular import GaussianCopula, CTGAN
from sdv.evaluation import evaluate

# All Globals

In [ ]:
benchmark = False
#benchmark = True
gaussian_copula_synth_model = True
ctgan_synth_model = True
#dataset = 'satgpa'
dataset = 'acs'
model_names = []

# All Settings

In [ ]:
start_global_time = timeit.default_timer()
pd.set_option('display.max_columns', 500) 
pd.set_option('display.max_rows', 500)

# All Functions Definitions

In [ ]:
def explore_data(data): 
  print("\nHead of Data: \n", data.head())
  print("\nTail of Data: \n", data.tail())
  print("\nShape of Data: ", data.shape)
  print("\nInformation about Data: \n")
  try: 
    data.info()
  except: 
    pass
  print("\nTypes of Data attributes: \n")
  try: 
    data.dtypes
  except: 
    pass
  print("\nSummary of all numerical fields in the dataset: \n")
  try: 
    data.describe(include = [np.number])
  except: 
    pass
  print("\nSummary of all categorical fields in the dataset: \n")
  try: 
    data.describe(include = ['O'])
  except: 
    pass
  print("\nLoop Through Each Column and Check for nulls: \n")
  try: 
    for i in range(len(data.columns)):
        print(data.columns[i] + ": " + str(data[data.columns[i]].isna().sum()))
  except: 
    pass

# Data Download - ACS and SatGPA

In [ ]:
if benchmark == True: 
  data = load_tabular_demo('student_placements')
  n_to_generate = data.shape[0]
else: 
  if dataset is 'satgpa':
    if not os.path.exists("./satgpa.csv"):
      os.system('gdown --id "1NNVF1LhBDkW_KKp5_QW8cAiQDFatzWMy" --output "./satgpa.csv"')
      data = pd.read_csv('./satgpa.csv')
      data = data.drop(['sat_sum'], axis=1)
      data.to_csv('satgpa_no_sum.csv', sep=',')
      n_to_generate = data.shape[0]
  elif dataset is 'acs':
    if not os.path.exists("./acs_dataset.zip"):
      os.system('gdown --id "1mKZfDieGBJP-cS-R7_i3zVKVawXThfUc" --output "./acs_dataset.zip"')
      if OS == "Linux":
          os.system('unzip -o -n "./acs_dataset.zip" -d "./"')      
      data = pd.read_csv('./acs_dataset.csv')
      n_to_generate = data.shape[0]

      #data = pd.read_csv('./acs_dataset.csv', nrows = 1000)
      #n_to_generate = 1000

# Exploratory Analysis

In [ ]:
explore_data(data)

Head of Data:
    Unnamed: 0     PUMA  YEAR   HHWT  GQ  PERWT  SEX  AGE  MARST  RACE  HISPAN  \
0           0  17-1001  2012   88.0   1   61.0    1   21      6     1       0
1           1  17-1001  2012   61.0   1   85.0    1   21      6     1       0
2           2  17-1001  2012   54.0   1   54.0    1   21      6     1       0
3           3  17-1001  2012  106.0   1   69.0    1   21      6     1       0
4           4  17-1001  2012   31.0   1   56.0    1   21      6     1       0

   CITIZEN  SPEAKENG  HCOVANY  HCOVPRIV  HINSEMP  HINSCAID  HINSCARE  EDUC  \
0        0         3        1         1        1         1         1     7
1        0         4        1         1        1         1         1     2
2        0         3        2         2        1         1         1     7
3        0         3        2         2        2         1         1     7
4        0         3        2         2        2         1         1     6

   EMPSTAT  EMPSTATD  LABFORCE  WRKLSTWK  ABSENT  LOOKING  AVAILBLE  WRKRECAL  \
0        1        10         2         2       4        3         5         3
1        1        10         2         2       4        3         5         3
2        1        10         2         2       4        3         5         3
3        3        30         1         1       1        1         5         3
4        1        10         2         3       4        3         5         3

   WORKEDYR  INCTOT  INCWAGE  INCWELFR  INCINVST  INCEARN  POVERTY  DEPARTS  \
0         3   14000    14000         0         0    14000      118      902
1         3   18000        0         0         0    18000      262      732
2         3   14000    14000         0         0    14000      118      642
3         3    3800     3800         0         0     3800      262        0
4         3   14000    14000         0         0    14000      501        0

   ARRIVES  sim_individual_id
0      909                 12
1      744                 33
2      654                401
3        0                470
4        0                702

Tail of Data:
          Unnamed: 0     PUMA  YEAR   HHWT  GQ  PERWT  SEX  AGE  MARST  RACE  \
1035196     1035196  39-4300  2018  103.0   1   90.0    2   37      1     9
1035197     1035197  39-4106  2018  207.0   1  207.0    2   41      6     9
1035198     1035198  17-2200  2018   73.0   1   58.0    2   46      4     9
1035199     1035199  17-2300  2018   47.0   1   47.0    2   46      1     9
1035200     1035200   39-910  2018   86.0   1   86.0    2   75      1     9

         HISPAN  CITIZEN  SPEAKENG  HCOVANY  HCOVPRIV  HINSEMP  HINSCAID  \
1035196       0        0         3        2         2        2         1
1035197       0        0         3        1         1        1         1
1035198       0        0         3        2         1        1         1
1035199       0        0         3        2         2        2         1
1035200       0        0         3        2         1        1         1

         HINSCARE  EDUC  EMPSTAT  EMPSTATD  LABFORCE  WRKLSTWK  ABSENT  \
1035196         1     7        1        10         2         3       4
1035197         1     7        1        10         2         2       4
1035198         2    11        3        30         1         1       1
1035199         1    10        1        10         2         2       4
1035200         2    11        3        30         1         1       4

         LOOKING  AVAILBLE  WRKRECAL  WORKEDYR  INCTOT  INCWAGE  INCWELFR  \
1035196        3         5         3         3   36000    36000         0
1035197        3         5         3         3   52800    52000         0
1035198        1         5         3         2   25800        0         0
1035199        3         5         3         3    5000     5000         0
1035200        1         5         1         1    9600        0         0

         INCINVST  INCEARN  POVERTY  DEPARTS  ARRIVES  sim_individual_id
1035196         0    36000      231     1605     1624             556291
1035197         0    52000      361     1005     1019            1139708
1035198         0        0      200        0        0             346052
1035199         0     5000      399      732      754              40265
1035200         0        0      501        0        0             811103

Shape of Data:  (1035201, 37)

Information about Data:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035201 entries, 0 to 1035200
Data columns (total 37 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unnamed: 0         1035201 non-null  int64
 1   PUMA               1035201 non-null  object
 2   YEAR               1035201 non-null  int64
 3   HHWT               1035201 non-null  float64
 4   GQ                 1035201 non-null  int64
 5   PERWT              1035201 non-null  float64
 6   SEX                1035201 non-null  int64
 7   AGE                1035201 non-null  int64
 8   MARST              1035201 non-null  int64
 9   RACE               1035201 non-null  int64
 10  HISPAN             1035201 non-null  int64
 11  CITIZEN            1035201 non-null  int64
 12  SPEAKENG           1035201 non-null  int64
 13  HCOVANY            1035201 non-null  int64
 14  HCOVPRIV           1035201 non-null  int64
 15  HINSEMP            1035201 non-null  int64
 16  HINSCAID           1035201 non-null  int64
 17  HINSCARE           1035201 non-null  int64
 18  EDUC               1035201 non-null  int64
 19  EMPSTAT            1035201 non-null  int64
 20  EMPSTATD           1035201 non-null  int64
 21  LABFORCE           1035201 non-null  int64
 22  WRKLSTWK           1035201 non-null  int64
 23  ABSENT             1035201 non-null  int64
 24  LOOKING            1035201 non-null  int64
 25  AVAILBLE           1035201 non-null  int64
 26  WRKRECAL           1035201 non-null  int64
 27  WORKEDYR           1035201 non-null  int64
 28  INCTOT             1035201 non-null  int64
 29  INCWAGE            1035201 non-null  int64
 30  INCWELFR           1035201 non-null  int64
 31  INCINVST           1035201 non-null  int64
 32  INCEARN            1035201 non-null  int64
 33  POVERTY            1035201 non-null  int64
 34  DEPARTS            1035201 non-null  int64
 35  ARRIVES            1035201 non-null  int64
 36  sim_individual_id  1035201 non-null  int64
dtypes: float64(2), int64(34), object(1)
memory usage: 292.2+ MB

Types of Data attributes:


Summary of all numerical fields in the dataset:


Summary of all categorical fields in the dataset:


Loop Through Each Column and Check for nulls:

Unnamed: 0: 0
PUMA: 0
YEAR: 0
HHWT: 0
GQ: 0
PERWT: 0
SEX: 0
AGE: 0
MARST: 0
RACE: 0
HISPAN: 0
CITIZEN: 0
SPEAKENG: 0
HCOVANY: 0
HCOVPRIV: 0
HINSEMP: 0
HINSCAID: 0
HINSCARE: 0
EDUC: 0
EMPSTAT: 0
EMPSTATD: 0
LABFORCE: 0
WRKLSTWK: 0
ABSENT: 0
LOOKING: 0
AVAILBLE: 0
WRKRECAL: 0
WORKEDYR: 0
INCTOT: 0
INCWAGE: 0
INCWELFR: 0
INCINVST: 0
INCEARN: 0
POVERTY: 0
DEPARTS: 0
ARRIVES: 0
sim_individual_id: 0

# Synthetic Data Generation via Gaussian Copula Method

In mathematical terms, a copula is a distribution over the unit cube [0,1]d which is constructed from a multivariate normal distribution over Rd by using the probability integral transform. Intuitively, a copula is a mathematical function that allows us to describe the joint distribution of multiple random variables by analyzing the dependencies between their marginal distributions.

In [ ]:
if gaussian_copula_synth_model == True:
  model = GaussianCopula()
  model.fit(data)
  model_names.append(dataset+'_gaussian_copula.pkl')
  model.save(model_names[-1])

/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:5320: RuntimeWarning: divide by zero encountered in true_divide
  return c**2 / (c**2 - n**2)
/usr/local/lib/python3.7/dist-packages/scipy/stats/_distn_infrastructure.py:2606: RuntimeWarning: invalid value encountered in double_scalars
  Lhat = muhat - Shat*mu
/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:639: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
/usr/local/lib/python3.7/dist-packages/scipy/optimize/minpack.py:175: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last five Jacobian evaluations.
  warnings.warn(msg, RuntimeWarning)
/usr/local/lib/python3.7/dist-packages/scipy/optimize/minpack.py:175: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)
/usr/local/lib/python3.7/dist-packages/copulas/univariate/truncated_gaussian.py:43: RuntimeWarning: invalid value encountered in double_scalars
  a = (self.min - loc) / scale
/usr/local/lib/python3.7/dist-packages/copulas/univariate/truncated_gaussian.py:44: RuntimeWarning: divide by zero encountered in double_scalars
  b = (self.max - loc) / scale
/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:5311: RuntimeWarning: divide by zero encountered in power
  return cd2*x**(c-1)

# Synthetic Data Generation via Conditional GAN

Modeling the probability distribution of rows in tabular data and generating realistic synthetic data is a non-trivial task. Tabular data usually contains a mix of discrete and continuous columns. Continuous columns may have multiple modes whereas discrete columns are sometimes imbalanced making the modeling difficult. Existing statistical and deep neural network models fail to properly model this type of data. We design TGAN, which uses a conditional generative adversarial network to address these challenges. To aid in a fair and thorough comparison, we design a benchmark with 7 simulated and 8 real datasets and several Bayesian network baselines. TGAN outperforms Bayesian methods on most of the real datasets whereas other deep learning methods could not.

In [ ]:
if ctgan_synth_model == True:
  model = CTGAN(
    epochs=500,
    batch_size=100,
    generator_dim=(256, 256, 256),
    discriminator_dim=(256, 256, 256)
  )
  model.fit(data)
  model_names.append(dataset+'_ctgan.pkl')
  model.save(model_names[-1])

# Model Loading and Preparation

In [ ]:
model_file = []
model_to_load = []
if gaussian_copula_synth_model == True:
  model_file.append(model_names[0])
  model_to_load.append(("GaussianCopula", GaussianCopula))
if ctgan_synth_model == True:
  model_file.append(model_names[1])
  model_to_load.append(("CTGAN", CTGAN))

loaded_model = []
for mf,ml in zip(model_file, model_to_load): 
  loaded_model.append((ml[0], ml[1].load(mf)))

# Synthetic Data Generation

In [ ]:
synthetic_data = []
for lm in loaded_model: 
  synthetic_data.append((lm[0], lm[1].sample(n_to_generate)))

# Synthetic Data Exploratory Analysis

In [ ]:
scored_and_synth_data = []
for sd in synthetic_data:
  try:
    print("\nMethod: ",sd[0])
    explore_data(sd[1])
    score = evaluate(sd[1], data)
    print("\n\nScore: ", score)
    scored_and_synth_data.append((sd[0], sd[1], score))  
  except:
    print("Error")

In [ ]:
total_time = timeit.default_timer() - start_global_time

In [ ]:
for sas in scored_and_synth_data:
  sas[1].to_csv(dataset+'_synth_data_generated_by_method_'+sas[0].lower()+'total_time_'+str(round(total_time,2))+'_score_'+str(round(sas[2],3))+'.csv', sep=',')

In [ ]:
print("Global Exectution Time: ", total_time)